# Nintendo Switch Keys & Dumps
*.keys
*.nsp
*.xci
*.nca
*.elf
*.nso

# Temporary / Build Artifacts
work/
unpacked/
/romfs/
/exefs/
hf_cache/
target/
bin/
obj/

# Python & IDE
__pycache__/
*.pyc
.env
.venv/
.idea/
.vscode/
*.log
